@font-face {
    font-family: "Source Sans 3";
    src: url("assets/fonts/SourceSans3-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans 3";
    src: url("assets/fonts/SourceSans3-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans 3";
    src: url("assets/fonts/SourceSans3-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans 3";
    src: url("assets/fonts/SourceSans3-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans 3";
    src: url("assets/fonts/SourceSans3-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans 3";
    src: url("assets/fonts/SourceSans3-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans 3";
    src: url("assets/fonts/SourceSans3-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans 3";
    src: url("assets/fonts/SourceSans3-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

:root {
    --main-font: "Source Sans 3", sans-serif;
    --font-color: #333;
    --font-color-light: #666;
    --graphic-color: #333;
    --card-border-color: #ccc;
    --abjuration-color: #55a868;
    --conjuration-color: #dd8452;
    --divination-color: #64b5cd;
    --enchantment-color: #da8bc3;
    --evocation-color: #c44e52;
    --illusion-color: #4c72b0;
    --necromancy-color: #8172b3;
    --transmutation-color: #ccb974;
    --margin-size: 3mm;
    --level-size: 33pt;
    --casting-time-size: 17pt;
    --casting-time-overlap: -7pt;
    --icon-size: 8pt;
    --chip-size: 10pt;
}

body.grayscale {
    --abjuration-color: var(--graphic-color);
    --conjuration-color: var(--graphic-color);
    --divination-color: var(--graphic-color);
    --enchantment-color: var(--graphic-color);
    --evocation-color: var(--graphic-color);
    --illusion-color: var(--graphic-color);
    --necromancy-color: var(--graphic-color);
    --transmutation-color: var(--graphic-color);
}

body {
    font-family: var(--main-font);
    margin: 0;
    background-color: #f0f0f0;
    color: var(--font-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#header-content {
    background-color: #333;
    color: white;
    padding: 10px;
    transform-origin: top center;
    position: absolute;
    left: 50%;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.controls h1 {
    font-size: 24px;
}

#spell-names-input {
    padding: 8px;
    font-size: 16px;
    width: 600px;
}

#page-size-toggle {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
}

#color-toggle {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
}

#generate-cards,
#export-pdf {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
}

#printable-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.page {
    background: white;
    width: 297mm;
    height: 210mm;
    margin: 10px 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    page-break-after: always;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 1mm;
}

.page-letter {
    width: 11in;
    height: 8.5in;
}

.spell-card {
    width: 63mm;
    height: 88mm;
    border: 1px solid var(--card-border-color);
    box-sizing: content-box;
    float: left;
    overflow: hidden;
    position: relative;
}

.spell-card-front,
.spell-card-back {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 8.5pt;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.spell-card-front-border {
    position: absolute;
    top: 42.5pt; /* calc(3mm + 33pt + 0.5 * 17pt + -7pt - 0.5pt) */
    right: 8.5pt; /* calc(3mm - 0.5pt) */
    bottom: 8.5pt; /* calc(3mm - 0.5pt) */
    left: 7.5pt; /* calc(3mm - 1.5pt) */
}

.card-header {
    position: relative;
    margin-right: 1pt;
}

.header-row {
    display: flex;
    align-items: flex-start;
    gap: 4pt;
}

.spell-level-outer-circle {
    width: 33pt;
    height: 33pt;
    box-sizing: border-box;
    border: 1pt solid;
    border-radius: 50%;
    padding: 2pt;
    display: flex;
    justify-content: center;
    align-items: center;
    background-clip: content-box;
    flex-shrink: 0;
}

.spell-level-text {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 20pt;
    color: white;
}

.cantrip-circle {
    width: 5pt;
    height: 5pt;
    background-color: white;
    border-radius: 50%;
}

.spell-name-container {
    padding-left: 1pt; /* for visual balance */
    padding-top: 3pt;
    padding-bottom: 3pt;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-height: 26pt;
}

.spell-card h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 10pt;
    line-height: 10pt;
    text-align: left;
    vertical-align: middle;
}

.casting-time-container {
    width: 33pt;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spell-casting-time {
    height: 17pt;
    line-height: 15pt;
    padding: 0 4pt;
    border: 1pt solid white;
    border-radius: var(--casting-time-size);
    color: white;
    font-weight: bold;
    white-space: nowrap;
    box-sizing: border-box;
    background-clip: padding-box;
    text-align: center;
}

.spell-casting-time.is-circular {
    width: 17pt;
    padding: 0;
}

.spell-range-and-duration {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spell-range {
    height: 15pt;
    margin-right: 4pt;
    padding: 0 5pt 0 4pt;
    justify-self: center;
    border-radius: 15pt;
    color: white;
    font-size: 8pt;
    white-space: nowrap;
    box-sizing: border-box;
    line-height: 15pt;
}

.spell-range-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    object-fit: contain;
    vertical-align: middle;
    margin-top: -1pt;
    margin-right: 3pt;
}

.spell-range-icon.area {
    margin-left: 3pt;
    margin-right: -1pt;
}

.spell-duration {
    height: 15pt;
    padding: 0 5pt 0 5pt;
    justify-self: center;
    border-radius: 15pt;
    color: white;
    font-size: 8pt;
    white-space: nowrap;
    box-sizing: border-box;
    line-height: 15pt;
}

.spell-duration-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    object-fit: contain;
    vertical-align: middle;
    margin-top: -1pt;
    margin-right: 3pt;
}

.spell-duration-icon:last-child {
    margin-right: 0;
}

.spell-range span,
.spell-duration span {
    vertical-align: middle;
}

.spell-component-icons {
    height: var(--chip-size);
    width: 33pt;
    text-align: center;
    flex-shrink: 0;
}

.spell-component-icons img {
    display: inline-block;
    vertical-align: top;
}

.spell-component-text {
    font-size: 7pt;
    line-height: 7pt;
    color: var(--font-color-light);
    font-style: italic;
    font-family: var(--main-font);
    font-weight: 400;
    text-align: justify;
    padding-top: 2pt;
    padding-right: 4pt;
}

.spell-concentration-and-ritual {
    position: absolute;
    top: 71.5pt;
    left: 4pt;
    width: var(--chip-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2pt;
}

.spell-school-container {
    position: absolute;
    top: 141pt;
    left: 6.5pt;
    width: 5pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spell-school {
    transform: rotate(-90deg);
    font-size: 5pt;
    line-height: 5pt;
    background-color: white;
    padding-left: 1pt;
    padding-right: 1pt;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-family: var(--main-font);
}

.spell-school span {
    padding: 0 0.25pt;
}

.card-body {
    margin-left: 4pt;
    margin-right: 1pt;
    margin-bottom: 1pt;
    padding: 3.5pt 4pt;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 7pt;
    line-height: 7pt;
    color: var(--font-color);
    min-height: 0;
}

.card-body.back {
    margin: 0;
    border: 1pt solid;
    border: 1pt solid var(--card-border-color);
    color: var(--font-color);
}

.spell-condition-text {
    text-align: justify;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.description-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.description-text p {
    text-align: justify;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.description-text p:last-child {
    margin-bottom: 0;
}

.spell-entry-name {
    font-weight: bold;
    padding-right: 0.5em;
}

.spell-list {
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    padding-left: 0;
    list-style-type: none;
}

.spell-list:last-child {
    margin-bottom: 0;
}

.spell-list li {
    position: relative;
    padding-left: 0.5em; /* Creates space for the bullet. Adjust to move text. */
    margin-bottom: 0.25em; /* Adjust to control vertical spacing between items */
}

.spell-list li:last-child {
    margin-bottom: 0;
}

.spell-list li::before {
    content: "•";
    position: absolute;
    left: -0.25em; /* Adjust to move the bullet. */
    top: -0.05em;
}

.spell-list-hang {
    text-align: justify;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.spell-list-hang:last-child {
    margin-bottom: 0;
}

.spell-list-hang p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.spell-list-hang p:last-child {
    margin-bottom: 0;
}

.spell-list-hang-term {
    font-weight: bold;
    padding-right: 0.5em;
}

.spell-table {
    text-align: justify;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.spell-table:last-child {
    margin-bottom: 0;
}

.spell-table caption {
    color: var(--font-color-light);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-left: 0.4em;
    font-size: 0.8em;
    line-height: 0.8em;
}

.spell-higher-level-text {
    text-align: justify;
    margin-top: 3.5pt;
    padding-top: 4.5pt;
    position: relative;
}

.higher-level-line {
    position: absolute;
    top: 0;
    left: -7pt;
    right: -5pt;
    border-top: 1pt solid;
}

.higher-level-circle {
    position: absolute;
    top: -4.5pt;
    left: -12.5pt;
    width: 10pt;
    height: 10pt;
    object-fit: contain;
}

.higher-level-plus {
    padding-top: 0.5pt;
}

.inline-icon-wrapper {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-0.06rem);
}

.inline-icon {
    height: 100%;
    width: 100%;
}

.dice-formula {
    font-weight: bold;
}
