:root {
    --main-font: "Source Sans 3", sans-serif;
    --font-color: #333;
    --graphic-color: #333;
    --card-border-color: #ccc;
    --abjuration-color: #55a868;
    --conjuration-color: #dd8452;
    --divination-color: #64b5cd;
    --enchantment-color: #da8bc3;
    --evocation-color: #c44e52;
    --illusion-color: #4c72b0;
    --necromancy-color: #8172b3;
    --transmutation-color: #ccb974;
}

body.grayscale {
    --abjuration-color: var(--graphic-color);
    --conjuration-color: var(--graphic-color);
    --divination-color: var(--graphic-color);
    --enchantment-color: var(--graphic-color);
    --evocation-color: var(--graphic-color);
    --illusion-color: var(--graphic-color);
    --necromancy-color: var(--graphic-color);
    --transmutation-color: var(--graphic-color);
}

body {
    font-family: var(--main-font);
    margin: 0;
    background-color: #f0f0f0;
    color: var(--font-color);
}

.spell-card h3 {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 10pt;
    margin-top: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#header-content {
    background-color: #333;
    color: white;
    padding: 10px;
    transform-origin: top center;
    position: absolute;
    left: 50%;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.controls h1 {
    font-size: 24px;
}

#spell-names-input {
    padding: 8px;
    font-size: 16px;
    width: 600px;
}

#page-size-toggle {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
}

#color-toggle {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
}

#generate-pdf {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
}

#printable-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.page {
    background: white;
    width: 297mm;
    height: 210mm;
    margin: 10px 0;
    padding: 10mm;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    page-break-after: always;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.page-letter {
    width: 11in;
    height: 8.5in;
}

.spell-card {
    width: 63mm;
    height: 88mm;
    border: 1px solid var(--card-border-color);
    box-sizing: border-box;
    padding: 3mm;
    margin: 1mm;
    float: left;
    overflow: hidden;
    position: relative;
}

.spell-card-front,
.spell-card-back {
    width: 100%;
    height: 100%;
}

.spell-level-container {
    position: absolute;
    top: 3mm;
    left: 3mm;
}

.spell-level-outer-circle {
    width: 30pt;
    height: 30pt;
    border: 1pt solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spell-level-inner-circle {
    width: 25pt;
    height: 25pt;
    border: 1pt solid black;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spell-level-text {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 20pt;
    color: white;
}

.cantrip-circle {
    width: 5pt;
    height: 5pt;
    background-color: white;
    border-radius: 50%;
}
